{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "env": {
        "es2021": true,
        "browser": true,
        "node": true
    },
    // ref: https://blog.morifuji-is.ninja/post/2019-02-21/
    "rules": {
        // disallows multiple consecutive spaces
        "no-multi-spaces": 2,
        // disallows multiple empty lines
        "no-multiple-empty-lines": [2, {"max": 1}],
        // disallows spacing between function identifiers and their invocations
        "func-call-spacing": [2, "never"],
        // requires semicolons instead of ASI
        "semi": [2, "always"],
        // enforces the consistent use of single quotes
        "quotes": [2, "single"],
        // requires let or const instead of var
        "no-var": 2,
        // enforces consistent indentation
        "indent": [2, 4, {"SwitchCase": 1}],
        // disallows spaces inside of parentheses
        "space-in-parens": [2, "never"],
        // allows the use of "console" object
        "no-console": 0,
        // enforces spacing around commas
        "comma-spacing": 2,
        // disallows spaces inside of computed properties
        "computed-property-spacing": 2,
        // enforces consistent spacing between keys and values in object literal properties
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        // enforces consistent spacing before and after keywords
        "keyword-spacing": 2
    }
}
