@import '../../node_modules/balloon-css/balloon.css';

.dplayer [aria-label] {
    --balloon-font-size: 11.5px;
}

.dplayer [aria-label]:before {
    display: none;
}

.dplayer [aria-label]:after {
    padding: .3em .8em !important;
    background: rgba(17, 17, 17, 0.7) !important;
    font-family: inherit !important;
}

.dplayer [aria-label][data-balloon-pos="up"]:after {
    margin-bottom: 0 !important;
}