
.dplayer-controller-mask {
    position: absolute;
    width: 100%;
    height: 98px;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.0) 15%, rgba(0, 0, 0, 0.7) 100%);
    transition: all 0.3s ease;
}

.dplayer-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 20px;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s ease;
    &.dplayer-controller-comment {
        .dplayer-icons {
            display: none;
        }
        .dplayer-icons.dplayer-comment-box {
            display: block;
        }
    }
    .dplayer-bar-wrap {
        position: absolute;
        width: calc(100% - 40px);
        height: 3px;
        bottom: 46px;
        padding: 5px 0;
        cursor: pointer;
        &:hover {
            .dplayer-bar .dplayer-played .dplayer-thumb {
                transform: scale(1);
            }
            .dplayer-highlight {
                display: block;
                width: 8px;
                transform: translateX(-4px);
                top: 4px;
                height: 40%;
            }
        }
        .dplayer-highlight {
            z-index: 12;
            position: absolute;
            top: 5px;
            width: 6px;
            height: 20%;
            border-radius: 6px;
            background-color: #fff;
            text-align: center;
            transform: translateX(-3px);
            transition: all .2s ease-in-out;
            &:hover {
                .dplayer-highlight-text {
                    display: block;
                }
                &~.dplayer-bar-preview {
                    opacity: 0;
                }
                &~.dplayer-bar-time {
                    opacity: 0;
                }
            }
            .dplayer-highlight-text {
                display: none;
                position: absolute;
                left: 50%;
                top: -24px;
                padding: 5px 8px;
                background-color: rgba(0, 0, 0, .62);
                color: #fff;
                border-radius: 4px;
                font-size: 12px;
                white-space: nowrap;
                transform: translateX(-50%);
            }
        }
        .dplayer-bar-preview {
            display: none;
            position: absolute;
            border-radius: 6px;
            background: #fff;
            pointer-events: none;
            background-size: 16000px 100%;
        }
        .dplayer-bar-preview-canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }
        .dplayer-bar-time {
            &.hidden {
                opacity: 0;
            }
            position: absolute;
            left: 0px;
            top: -20px;
            border-radius: 4px;
            padding: 5px 7px;
            background-color: rgba(0, 0, 0, 0.62);
            color: #fff;
            font-size: 12px;
            text-align: center;
            opacity: 1;
            transition: opacity .1s ease-in-out;
            word-wrap: normal;
            word-break: normal;
            z-index: 2;
            pointer-events: none;
        }
        .dplayer-bar {
            position: relative;
            height: 4px;
            width: 100%;
            background: rgba(255, 255, 255, .2);
            cursor: pointer;
            .dplayer-loaded {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: #fff;
                height: 4px;
                transition: all 0.5s ease;
                will-change: width;
            }
            .dplayer-played {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 4px;
                will-change: width;
                .dplayer-thumb {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    margin-top: -4px;
                    margin-right: -10px;
                    height: 11px;
                    width: 11px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    transform: scale(0);
                }
            }
        }
    }
    .dplayer-icons {
        position: absolute;
        height: 38px;
        padding-top: 6px;
        padding-bottom: 6px;
        bottom: 0;
        -webkit-tap-highlight-color: transparent;
        &.dplayer-comment-box {
            display: none;
            position: absolute;
            transition: all .3s ease-in-out;
            z-index: 2;
            height: 38px;
            bottom: 0;
            left: 20px;
            right: 20px;
            color: #fff;
            .dplayer-icon {
                padding: 7px;
            }
            .dplayer-comment-setting-icon {
                position: absolute;
                left: 0;
                top: 0;
            }
            .dplayer-send-icon {
                position: absolute;
                right: 0;
                top: 0;
                &[aria-label]:after {
                    left: 14%;
                }
            }
            .dplayer-comment-input {
                outline: none;
                border: none;
                padding: 8px 0px;
                font-size: 14px;
                font-family: inherit;
                line-height: 18px;
                text-align: center;
                border-radius: 4px;
                background: none;
                margin: 0;
                height: 100%;
                box-sizing: border-box;
                width: 100%;
                color: #fff;
                &::placeholder {
                    color: #fff;
                    opacity: 0.8;
                }
                &::-moz-focus-inner {
                    border: 0;
                }
                &::-ms-clear {
                    display: none;
                }
            }
            @media (max-width: 350px){
                .dplayer-comment-setting-box {
                    padding: 9px 10px 15px;
                    .dplayer-comment-setting-title {
                        font-size: 12px;
                        line-height: 24px;
                    }
                }
                .dplayer-comment-input {
                    font-size: 12px;
                }
            }
        }
        &.dplayer-icons-left {
            .dplayer-icon {
                padding: 7px;
            }
            @media (max-width: 500px){
                .dplayer-icon {
                    padding-top: 6px;
                }
            }
            @media (max-width: 350px){
                .dplayer-icon {
                    padding-top: 7px;
                }
            }
        }
        &.dplayer-icons-right {
            right: 20px;
            .dplayer-icon {
                padding: 8px;
                @media (max-width: 500px){
                    & {
                        width: 38px;
                        padding: 7px;
                    }
                }
                @media (max-width: 350px){
                    & {
                        width: 31px;
                        padding: 5px;
                    }
                }
            }
        }
        .dplayer-time {
            line-height: 38px;
            color: #eee;
            text-shadow: 0 0 2px rgba(0, 0, 0, .5);
            vertical-align: middle;
            font-size: 13px;
            font-family: inherit;
            @media (max-width: 350px){
                & {
                    font-size: 12px;
                }
            }
        }
        .dplayer-live-badge {
            line-height: 18px;
            color: #eee;
            text-shadow: 0 0 2px rgba(0, 0, 0, .5);
            vertical-align: middle;
            font-size: 13px;
            cursor: pointer;
            font-family: inherit;
            height: 100%;
            display: inline-flex;
            align-items: center;
        }
        .dplayer-live-dot {
            display: inline-block;
            width: 6px;
            height: 6px;
            vertical-align: 4%;
            margin-right: 5px;
            content: '';
            border-radius: 6px;
        }
        .dplayer-icon {
            width: 40px;
            height: 100%;
            border: none;
            background-color: transparent;
            line-height: 18px;
            outline: none;
            cursor: pointer;
            vertical-align: middle;
            box-sizing: border-box;
            display: inline-block;
            .dplayer-icon-content {
                transition: all .2s ease-in-out;
                opacity: .8;
            }
            &:hover {
                .dplayer-icon-content {
                    opacity: 1;
                }
            }
            &::-moz-focus-inner {
                border: 0;
            }
            &.dplayer-comment-icon {
                padding: 10.5px 9.5px 8px;
                @media (max-width: 500px){
                    & {
                        padding: 9px 9px 8px;
                    }
                }
                @media (max-width: 350px){
                    & {
                        padding: 6.5px 6.5px 6px;
                    }
                }
            }
            &.dplayer-volume-icon {
                width: 43px;
            }
            &.dplayer-full-icon[aria-label]:after {
                left: 1%;
            }
            @media (max-width: 350px){
                & {
                    width: 35px;
                }
            }
        }
        .dplayer-volume {
            position: relative;
            display: inline-block;
            cursor: pointer;
            height: 100%;
            &:hover {
                .dplayer-volume-bar-wrap .dplayer-volume-bar {
                    width: 45px;
                }
                .dplayer-volume-bar-wrap .dplayer-volume-bar .dplayer-volume-bar-inner .dplayer-thumb {
                    transform: scale(1);
                }
            }
            &.dplayer-volume-active {
                .dplayer-volume-bar-wrap .dplayer-volume-bar {
                    width: 45px;
                }
                .dplayer-volume-bar-wrap .dplayer-volume-bar .dplayer-volume-bar-inner .dplayer-thumb {
                    transform: scale(1);
                }
            }
            .dplayer-volume-bar-wrap {
                display: inline-block;
                margin: 0 10px 0 -5px;
                vertical-align: middle;
                height: 100%;
                .dplayer-volume-bar {
                    position: relative;
                    top: 17px;
                    width: 0;
                    height: 4px;
                    background: #FFF;
                    transition: all 0.3s ease-in-out;
                    .dplayer-volume-bar-inner {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 100%;
                        transition: all 0.1s ease;
                        will-change: width;
                        .dplayer-thumb {
                            position: absolute;
                            top: 0;
                            right: 5px;
                            margin-top: -4px;
                            margin-right: -10px;
                            height: 11px;
                            width: 11px;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: all .3s ease-in-out;
                            transform: scale(0);
                        }
                    }
                }
            }
        }
        .dplayer-subtitle-btn {
            display: inline-block;
            height: 100%;
        }
        .dplayer-setting {
            display: inline-block;
            height: 100%;
        }
        .dplayer-full {
            display: inline-block;
            height: 100%;
            position: relative;
        }
        .dplayer-comment {
            display: inline-block;
            height: 100%;
        }
    }
}

.dplayer-mobile-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50px;
    transform: translate(-50%, -50%);
    transition: all 0.28s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .dplayer-mobile-icon {
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        pointer-events: auto;

        &-backward, &-forward {
            padding: 12px;
        }
    }
}

.dplayer-setting-box {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 64px;
    width: 210px;
    height: calc(100% - 64px - 8px);
    border-radius: 7px;
    background: rgba(28, 28, 28, 0.9);
    transition: all .25s ease;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    &>div {
        overflow-x: hidden;
        &.dplayer-setting-origin-panel {
            display: block;
        }
    }
    &.dplayer-setting-box-open {
        visibility: visible;
        opacity: 1;
    }
    &.dplayer-setting-box-quality {
        clip-path: inset(calc(100% - (30px * var(--quality-length)) - 54px) 0 0 round 7px) !important;
        .dplayer-setting-origin-panel {
            transform: translateX(-100%);
        }
        .dplayer-setting-quality-panel {
            display: block;
            transform: translateX(0%);
        }
    }
    &.dplayer-setting-box-speed {
        clip-path: inset(calc(100% - 294px) 0 0 round 7px) !important;
        .dplayer-setting-origin-panel {
            transform: translateX(-100%);
        }
        .dplayer-setting-speed-panel {
            display: block;
            transform: translateX(0%);
        }
    }
    &.dplayer-setting-box-audio {
        clip-path: inset(calc(100% - 114px) 0 0 round 7px) !important;
        .dplayer-setting-origin-panel {
            transform: translateX(-100%);
        }
        .dplayer-setting-audio-panel {
            display: block;
            transform: translateX(0%);
        }
    }
    .dplayer-label {
        display: inline-block;
        color: #eee;
        font-size: 13px;
        vertical-align: middle;
        white-space: nowrap;
    }
    .dplayer-label-value {
        display: inline-block;
        margin-left: auto;
        margin-right: 23px;
        color: #e0e0e0;
        font-size: 12px;
        vertical-align: middle;
        white-space: nowrap;
    }
    .dplayer-toggle {
        position: absolute;
        top: 5px;
        right: 7px;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 0;
        vertical-align: middle;
        input {
            max-height: 0;
            max-width: 0;
            display: none;
        }
        input+label {
            display: inline-block;
            position: relative;
            right: 15px;
            width: 32px;
            height: 20px;
            border-radius: 10px;
            box-sizing: border-box;
            transition: .25s ease;
            box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
            border: 1px solid rgb(223, 223, 223);
            cursor: pointer;
        }
        input+label:before {
            content: "";
            position: absolute;
            display: block;
            height: 19px;
            width: 19px;
            top: -0.5px;
            left: -0.5px;
            border-radius: 15px;
            transition: .25s ease;
        }
        input+label:after {
            content: "";
            display: block;
            position: absolute;
            height: 18.1px;
            width: 18.1px;
            top: -0.1px;
            left: 0;
            border-radius: 15px;
            background: #fff;
            transition: .25s ease;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        }
        input:checked+label {
            border-color: var(--theme-color);
        }
        input:checked+label:before {
            width: 31px;
            background: var(--theme-color);
        }
        input:checked+label:after {
            left: 12px;
        }
    }
    .dplayer-setting-origin-panel,
    .dplayer-setting-quality-panel,
    .dplayer-setting-speed-panel,
    .dplayer-setting-audio-panel {
        position: absolute;
        bottom: 0px;
        width: 100%;
        max-height: 100%;
        padding: 7px 0;
        transition: transform .25s ease;
        box-sizing: border-box;
        scrollbar-width: thin;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .15);
        }
    }
    .dplayer-setting-origin-panel {
        transform: translateX(0%);
    }
    .dplayer-setting-quality-panel,
    .dplayer-setting-speed-panel,
    .dplayer-setting-audio-panel {
        transform: translateX(100%);
        .dplayer-setting-header {
            display: flex;
            align-items: center;
            height: 33px;
            padding-left: 5px;
            padding-bottom: 5px;
            margin-bottom: 7px;
            border-bottom: 2px solid rgba(255, 255, 255, .15);
            box-sizing: border-box;
            cursor: pointer;
        }
        .dplayer-setting-quality-item,
        .dplayer-setting-speed-item,
        .dplayer-setting-audio-item {
            padding: 5px;
            .dplayer-toggle {
                visibility: hidden;
            }
            &.dplayer-setting-quality-current .dplayer-toggle,
            &.dplayer-setting-speed-current .dplayer-toggle,
            &.dplayer-setting-audio-current .dplayer-toggle {
                visibility: visible;
            }
        }
        .dplayer-toggle {
            display: inline-block;
            position: static;
            width: 22px;
            margin-right: 6px;
        }
    }
    .dplayer-setting-item,
    .dplayer-setting-quality-item,
    .dplayer-setting-speed-item,
    .dplayer-setting-audio-item {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 5px 10px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }
    .dplayer-setting-danmaku {
        padding: 5px 0;
        .dplayer-label {
            padding: 0 10px;
            display: inline;
        }
        .dplayer-label-value {
            margin-right: 18px;
            font-size: 12.5px;
        }
        &:hover {
            .dplayer-label, .dplayer-label-value {
                display: none;
            }
            .dplayer-danmaku-bar-wrap {
                display: inline-block;
            }
        }
        &.dplayer-setting-danmaku-active {
            .dplayer-label, .dplayer-label-value {
                display: none;
            }
            .dplayer-danmaku-bar-wrap {
                display: inline-block;
            }
        }
        .dplayer-danmaku-bar-wrap {
            padding: 0 10px;
            box-sizing: border-box;
            display: none;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            .dplayer-danmaku-bar {
                position: relative;
                top: 8.5px;
                width: 100%;
                height: 3px;
                background: #fff;
                transition: all 0.3s ease-in-out;
                .dplayer-danmaku-bar-inner {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    transition: all 0.05s ease;
                    will-change: width;
                    .dplayer-thumb {
                        position: absolute;
                        top: 0;
                        right: 5px;
                        margin-top: -4px;
                        margin-right: -10px;
                        height: 11px;
                        width: 11px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}

.dplayer-comment-setting-box {
    position: absolute;
    left: 20px;
    bottom: 64px;
    width: 255px;
    max-height: calc(100% - 64px - 8px);
    clip-path: inset(0 0 0 round 7px);
    border-radius: 7px;
    background: rgba(28, 28, 28, 0.9);
    padding: 10px 10px 16px;
    font-size: 14px;
    transition: all .25s ease;
    scrollbar-width: thin;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .15);
    }
    &.dplayer-comment-setting-open {
        visibility: visible;
        opacity: 1;
    }
    input[type=radio] {
        display: none;
    }
    label {
        cursor: pointer;
    }
    .dplayer-comment-setting-title {
        font-size: 13px;
        color: #fff;
        line-height: 30px;
    }
    .dplayer-comment-setting-type, .dplayer-comment-setting-size {
        font-size: 0;
        &.dplayer-comment-setting-size {
            margin-top: 8px;
        }
        .dplayer-comment-setting-title {
            margin-bottom: 6px;
        }
        label {
            &:nth-child(2) {
                span {
                    border-radius: 4px 0 0 4px;
                }
            }
            &:nth-child(4) {
                span {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
        span {
            width: 33.6%;
            padding: 4px 6px;
            line-height: 16px;
            display: inline-block;
            font-size: 12px;
            color: #fff;
            border: 1px solid #fff;
            margin-right: -1px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
        }
        input:checked+span {
            background: #E4E4E6;
            color: #1c1c1c;
        }
    }
    .dplayer-comment-setting-color {
        font-size: 0;
        .dplayer-comment-setting-color-list {
            display: flex;
            justify-content: space-between;
            padding: 4px 0px;
            label {
                display: inline-block;
                font-size: 0;
                padding: 6px 0px;
            }
            span {
                display: inline-block;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    animation: my-face 5s infinite ease-in-out;
                }
            }
        }
    }
}
