.dplayer {
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    line-height: 1;

    * {
        box-sizing: content-box;
    }

    svg {
        width: 100%;
        height: 100%;

        path,
        circle {
            fill: #fff;
        }
    }

    &.dplayer-fulled, &.dplayer-fulled-browser {
        width: 100% !important;
        height: 100% !important;
        background: #000;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        transform: translate(0, 0);

        .dplayer-danmaku {
            .dplayer-danmaku-right {
                &.dplayer-danmaku-move {
                    animation: danmaku 6s linear;
                    animation-play-state: inherit;
                }
            }
            .dplayer-danmaku-top,
            .dplayer-danmaku-bottom {
                &.dplayer-danmaku-move {
                    animation: danmaku-center 5s linear;
                    animation-play-state: inherit;
                }
            }
        }
    }

    &.dplayer-no-danmaku {
        .dplayer-setting-box {
            .dplayer-setting-showdan,
            .dplayer-setting-danmaku,
            .dplayer-setting-danunlimit {
                display: none;
            }
        }

        .dplayer-controller .dplayer-icons .dplayer-comment {
            display: none;
        }

        .dplayer-danmaku {
            display: none;
        }
    }

    &.dplayer-no-audio-switching {
        .dplayer-setting-box {
            .dplayer-setting-audio {
                display: none;
            }
        }
    }

    &.dplayer-live {
        .dplayer-time {
            display: none;
        }
        .dplayer-bar-wrap {
            display: none;
        }
        .dplayer-setting-speed {
            display: none;
        }
        .dplayer-setting-loop {
            display: none;
        }
        .dplayer-controller .dplayer-icons .dplayer-setting-box {
            height: auto;
            overflow-y: hidden;
        }
        .dplayer-mobile-icon-backward, .dplayer-mobile-icon-forward {
            display: none;
        }

        &.dplayer-no-danmaku.dplayer-no-audio-switching {
            .dplayer-setting {
                display: none;
            }
        }
    }

    &.dplayer-arrow {
        .dplayer-danmaku {
            font-size: 18px;
        }
        .dplayer-icon {
            margin: 0 -3px;
        }
    }

    &.dplayer-playing {
        .dplayer-danmaku .dplayer-danmaku-move {
            animation-play-state: running;
        }

        .dplayer-controller-mask {
            opacity: 0;
        }
        .dplayer-controller {
            opacity: 0;
        }

        &:hover {
            .dplayer-controller-mask {
                opacity: 1;
            }
            .dplayer-controller {
                opacity: 1;
            }
        }
    }

    &.dplayer-loading {
        .dplayer-bezel .diplayer-loading-icon {
            display: block;
        }
    }

    &.dplayer-loading,
    &.dplayer-paused {
        .dplayer-danmaku,
        .dplayer-danmaku-move {
            animation-play-state: paused;
        }
    }

    &.dplayer-show-controller {
        .dplayer-controller-mask {
            opacity: 1;
        }
        .dplayer-controller {
            opacity: 1;
        }
    }

    &.dplayer-fulled {
        position: fixed !important;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;

        &.dplayer-hide-controller {
            .dplayer-controller-mask {
                opacity: 0 !important;
            }
            .dplayer-controller {
                opacity: 0 !important;
            }
        }
    }

    &.dplayer-fulled-browser {
        &.dplayer-hide-controller {
            .dplayer-controller-mask {
                opacity: 0 !important;
            }
            .dplayer-controller {
                opacity: 0 !important;
            }
        }
    }

    &.dplayer-mobile {
        .dplayer-controller .dplayer-icons {
            .dplayer-volume,
            .dplayer-camera-icon,
            .dplayer-airplay-icon,
            .dplayer-play-icon {
                display: none;
            }
            .dplayer-full .dplayer-full-in-icon {
                position: static;
                display: inline-block;
            }
            .dplayer-full .dplayer-pip-icon {
                position: static;
                display: inline-block;
            }
        }

        .dplayer-controller-mask {
            background: linear-gradient(rgba(0,0,0,.55) 80%, rgba(0,0,0,.8) 100%);
            height: 100%;
        }

        &.dplayer-playing {
            .dplayer-controller-mask {
                opacity: 1;
            }
            .dplayer-controller {
                opacity: 1;
            }
        }

        &.dplayer-hide-controller {
            .dplayer-controller-mask {
                opacity: 0;
            }
            .dplayer-controller {
                opacity: 0;
                transform: translateY(100%);
            }
        }

        .dplayer-bar-time {
            display: none;
        }

        &.dplayer-hide-controller {
            .dplayer-mobile-icon-wrap {
                visibility: hidden;
                opacity: 0;
            }
        }

        .dplayer-mobile-icon-wrap {
            visibility: visible;
            opacity: 0.7;
        }
    }
}

// To hide scroll bar, apply this class to <body>
.dplayer-web-fullscreen-fix {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
