.dplayer-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    &.dplayer-mask-show {
        display: block;
    }
}

.dplayer-video-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #000;
    font-size: 0;
    width: 100%;
    height: 100%;

    .dplayer-video-wrap-aspect {
        position: relative;
        max-width: calc(100 / 56.25 * 100vh);
        max-height: 56.25vw;
    }
    .dplayer-video {
        width: 100%;
        height: 100%;
        display: none;
    }
    .dplayer-video-current {
        display: block;
    }
    .dplayer-video-prepare {
        display: none;
    }
}
